

img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 1.25rem;
}


@media (min-width: 768px) {
  img {
    width: 70%;   /* on tablets and up */
  }
}

@media (min-width: 1200px) {
  img {
    width: 50%;   /* on desktops */
  }
}

body{
        display: grid;
        flex-direction: column;
        background-color: #e9ecef;
        color: #333;
        font-family: Arial, sans-serif;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        
        
        
    }



main {
       /* display: grid;
        
        gap:50rem;
        text-align: center;
        font-family: Arial, sans-serif;
        margin: 20px;
        padding: 20px;
        padding-top: 0%;
        */
        z-index: 2;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        position: relative;

        
    }

    .AboutMe{
        
        display: flex;
        justify-content: center;
        
        
    }





#intro {
    /*
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 24px;
        justify-content: center;
        align-items: center;
        */
        background-color: #dee2e6;
        border: 1px solid ;
        border-radius: 10px;
        padding: 1rem 1.25rem;
        
        margin-bottom: 20px;
        scroll-margin-top: 80px;
        
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        display: flex;
        position: relative;
        
        
    }


#header {
        
        
        padding: 20px 0;
        margin-bottom: 20px;
        text-align: center;
        
        
    }

#navbar {
        display: inline-block;
        text-align: center;
        position:fixed;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        border: 1px solid #ccc;
        border-radius: 500px;
       
        
    }
    
 #navbar ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
    }

#navbar ul li {
        
        
        margin:  0 15px 0 15px;
    }   

    #navbar ul li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }


.Info {
        display: inline-block;
        border: 1px solid ;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #dee2e6;
        scroll-margin-top: 80px;
        margin-top: 13%;
        font-size: 20px;
        padding: 5px 10px;
        
    }

.Info em{
    
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

.Info p{
    margin: 0.25%;
}

.Info h3 {
    font-size:30px;

}
.Projects {
        border: 1px solid ;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #dee2e6;
       
        
        
        scroll-margin-top: 80px;
        
    }
   
.Projects h3{
    font-size: 30px;
    text-align: center;
    }

.Projects li {
        margin: 10px;
        padding: 10px;
        width: 300px;
        text-align: left;
        
        justify-content: center;
        align-items: center;
        
       
    }



.Contact {
        display: inline-block;
        border: 1px solid ;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #dee2e6;
        padding: 8px 20px;   /* ensures spacing inside */
        font-size: 14px;
        text-align: center;
    }


 form{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
        
        
    }
 

form h3 {
    font-size: 30px;
    
}
button {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow:
    rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}



.Description {
        list-style-type: none;
        font-weight: normal; 
        
    }

.projectTitle  {
        font-weight: bold;
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 20rem;
        padding-left : 25px;
        margin: 10px;
        
        text-align: center;
        justify-content: center;
        align-items: center;
        
        font-size: 20px;
        
    }