

img{
    
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 15%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 1.25rem;
}


@media (max-width: 768px) {
  img {
    width: 50%;   
  }
  
  
 
  section{
    display: flex;
    flex-direction: column;
  }

  form div {
    flex-direction: column;
  }

  h1{
    font-size: 1.5rem;
    
    
}
h3{
    font-size: 1.5rem;
    
    
}

p  {
    font-size: 1.0rem;
    
    
}


em{
    
    font-weight: bold;
    font-size: 1.0rem;
}

  

}

@media (min-width: 769px) and (max-width: 1200px) {
  img {
    width: 50%;   /* on tablets */
  }
  
  
  section{
    
    flex-direction: column;
  }
  form div {
    flex-direction: column;
  }

  h1{
    font-size: 2.0rem;
    
}
h3{
    font-size: 1.5rem;
    
    
}

p  {
    font-size: 1.5rem;
    
   
}


em{
    
    
    font-size: 1.5rem;
}

  
}


@media (min-width: 1201px) and (max-width: 3000px) {
  img {
    width: 65%;   /* on desktops */
  }
  main{
    display: grid;
    grid-template-rows: 1fr 1fr  0.4fr;

    padding: 1%;
    margin: 1%;
    gap: 1rem;
  }

   section{
    
    flex-direction: row;
  }

  form div {
    flex-direction: row;
  }

  h1{
    font-size: 2.5rem;
    
}
h3{
    font-size: 2.0rem;
    
}

p  {
    font-size: 1.5rem;
    
    
}


em{
    
    font-size: 1.5rem;
}
  
}

h1{
    
    margin: 0.5rem 0;
    text-align: center;
}
h3{
    
    margin: 0.5rem 0;
    text-align: center;
}

p  {
   
    
    margin: 0.5rem 0;
}


em{
    margin: 2rem;
    font-weight: bold;
    
}

body{
        display: grid;
        grid-template-columns: 1fr ;
        background-color: #EAE0D5;
        color: #22333B;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0%;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
        
        
        
    }



main {
        display: grid;
        grid-template-columns: 1fr;
        
        max-width: 100%;
        gap:10rem;
        text-align: center;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
        margin: 5%;
        padding: 3%;
        padding-top: 0%;
        
        

        
    }

   main .section{
        opacity: 1;
        transition: opacity 0.3s ease, transform 0.3s ease;
   }

   
   
   main .section:hover{
        opacity:1;
        transform: scale(1.05);
   }

  


    .AboutMe{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        scroll-margin-top: 12%;
        
        border: #22333B solid 0.1rem;
        border-radius: 3rem;
        
    }

    .AboutMe:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px #003049(0, 0, 0, 0.2);
        
    }




#intro {
    /*
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 24px;
        justify-content: center;
        align-items: center;
        */
      
        padding: 1rem 1.25rem;
        
        
        scroll-margin-top: 12%;
        
        flex-direction: column;
        
        align-items: center;
        height: 100%;
        display: flex;
        position: relative;
        
        
    }

  


#header {
        
        
        padding: 1% 0%;
        
        text-align: center;
        
        
    }

#navbar {
        display: inline-block;
        text-align: center;
        position:fixed;
        top:0%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        border: #22333B solid 0.1rem;
        border-radius: 3rem;
       
        
    }
    
 #navbar ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        list-style-type: none;
        padding: 0%;
    }

#navbar ul li {
        
        
        margin:  0 0.8rem 0 0.8rem;
    }   

    #navbar ul li a {
        text-decoration: none;
        color: #003049;
        font-weight: bold;
    }


#info {
        display: inline-block;
        
        
        
        scroll-margin-top: 12%;
        margin-top: 12%;
        
        
        
    }






#projects {
        
        padding: 2rem;
        
        
       border: #22333B solid 0.1rem;
        border-radius: 3rem;
        
        
        scroll-margin-top: 12%;
        
    }

#projects:hover {
         box-shadow: 0 8px 16px #003049(0, 0, 0, 0.2);
         transform: scale(1.05);
}
   


#projects li {
        
        padding: 3%;
        
        width: 100%;
        text-align: left;
        
        justify-content: center;
        align-items: center;
        
       
    }



#contact {
        display: inline-block;
       
        
        
        
        padding: 1% 1%;   
        
        text-align: center;

       border: #22333B solid 0.1rem;
        border-radius: 3rem;
    }

.messageDiv{
        display:flex;
        flex-direction:row;
        justify-content: center;
        gap: 1rem;
}


    section{
        display: flex;
        
        gap: 1rem;
        justify-content: space-around;
        align-items: center;
        font-size: 1.6rem;
    }

form div {
    display: flex;
    
    gap: 1rem;
    justify-content: center;
}
 




button {
  
  background-color: #fafbfc;
  
  
  border: #22333B solid 0.1rem;
  border-radius: 3rem;
  
  box-sizing: border-box;
  color: #003049;
  cursor: pointer;
 
  font-size: 1rem;
  
  
  
  padding: 0.5rem 0.5rem ;
  position: relative;
  
  
  
 
  
}

button:hover {
  background-color: #669BBC;
  text-decoration: none;
  color:#EAE0D5;
  transition-duration: 0.1s;
}









.Description {
        list-style-type: none;
        font-weight: normal; 
        word-spacing: 0.2rem;
    }

.projectTitle  {
        font-weight: bold;
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 20rem;
        padding-left : 1.7rem;
        margin: 0.8rem;
        
        text-align: center;
        justify-content: center;
        align-items: center;
        
        font-size: 1.3rem;
        
    }


  