

img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 1.25rem;
}


@media (min-width: 768px) {
  img {
    width: 70%;   /* on tablets and up */
  }
}

@media (min-width: 1200px) {
  img {
    width: 50%;   /* on desktops */
  }
}

body{
        display: grid;
        flex-direction: column;
        background-color: #e0e0e0;
        color: #333;
        font-family: Arial, sans-serif;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        
        
        
    }



main {
        display: grid;
        
        gap:50rem;
        text-align: center;
        font-family: Arial, sans-serif;
        margin: 20px;
        padding: 20px;
        padding-top: 0%;
        background-color: #f4f4f4;
        
    }

    .AboutMe{
        display: flex;
        justify-content: center;
        
        
    }





#intro {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 24px;
        justify-content: center;
        align-items: center;
        
        
        
    }


#header {
        
        
        padding: 20px 0;
        text-align: center;
        
        
    }

#navbar {
        display: inline-block;
        text-align: center;
        position:fixed;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        border: 1px solid #ccc;
        border-radius: 500px;
       
        
    }
    
 #navbar ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
    }

#navbar ul li {
        
        
        margin:  0 15px 0 15px;
    }   

    #navbar ul li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }


.Info {
        
        scroll-margin-top: 80px;
        margin-top: 10%;
        font-size: 20px;
        text-align: center;
    }

.Info em{
    
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

.Info p{
    margin: 0.25%;
}

.Info h3 {
    font-size:30px;

}
.Projects {
       
        scroll-margin-top: 80px;
        
    }
.Projects ul {
        display: flex;
        justify-content: space-around;
        font-size: 20px;
    }

.Projects h3{
    font-size: 30px;
    text-align: center;
    }

.Projects li {
        margin: 10px;
        padding: 10px;
        width: 300px;
    }



.Contact {
        scroll-margin-top: 80px;
        margin-top: 20px;
        font-size: 14px;
    }

form h3 {
    font-size: 30px;
    
}



.Description {
        list-style-type: none;
        font-weight: normal; 
        
    }

.projectTitle  {
        font-weight: bold;
        
        
    }